extends ../layout

block content
	h1 Add new Post
	form.app(method="POST",
			 action="/upload",
			 enctype="multipart/form-data")
		p.field title:
			input(type="text",
				   name="title",
				   id="title",
				   size="150",
				   value="",
				   required)
		p.field body:
			textarea(name="body",
				   id="body",
				   rows="4",
				   cols="150")
		p.field type:
			select(name="type",id="type")
				option(value="post",selected)	post
				option(value="page")	page

		p.field tags:
			input(type="text",
				   name="tags",
				   id="tags",
				   size="150",
				   value="")

		p.field Upload file
			input(
					type="file",
					name="avatar",
					id="avatar"
			)
			input(type="submit",name="submit",id="submit",value="add")
